.fader-container {
    --color-widget: darkorange;
}

.gh-button-control {
    --color-widget: darkorange;
}
 
.gh-button-action {
    --color-widget: darkorange;
}
 
.gh-button-alert {
    --color-widget: red;
}

.gh-button-auto {
    --color-widget: green;
}
 

.rounded-corners5 {
    border-radius: 5px;
}

.rounded-corners5-matrix .widget {
    border-radius: 5px;
}